.interview {
  flex: 1;
  margin-top: 12rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  
}

.slider-interview {
  margin-left: 75px;
}

.slider-row {
  max-width: 160rem ;
  width: 140rem ;
}

@media (max-width: 1600px) {
  .slider-interview {
    margin-left: 30px;
  } 
}

/* @media (max-width: 1000px) {
  .slider-interview {
    margin-left: 0px;
  } 
} */

@media (max-width: 800px) {
  .slider-interview {
    width: 100%;
    max-width: 400px;
  } 
  
  .button-interview{
    margin-bottom: 15px ;
    margin-left: -150px;
  }
}

@media (max-width: 600px) {
  .button-interview{
    margin-bottom: 15px ;
    margin-left: -50px;
  }
}