.navbar-bottom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 112px;
  padding: 10px 20px;
  z-index: 1000;
  transition: all 0.3s ease;
  background-position: center 38.5%;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-bottom::before {
  content: ''; /* Diperlukan untuk menampilkan pseudo-element */
  position: absolute; /* Atur posisi absolut */
  top: 0; /* Tempatkan di bagian atas navbar */
  left: 0; /* Tempatkan di sisi kiri navbar */
  width: 100%; /* Menyamakan lebar dengan navbar */
  height: 100%; /* Menyamakan tinggi dengan navbar */
  background-image: url(../Img/concert4.jpg); /* Ganti dengan URL gambar latar belakang Anda */
  background-size: cover;
  background-position: center 38.5%;
  filter: blur(5px); /* Efek blur dengan radius 5px */
  z-index: -1; /* Mengatur z-index di belakang konten utama */
}

/* .navbar-item {
  margin-right: auto;
  margin-bottom: 20px;
} */

/* @media (max-width: 1600px) {
  .navbar-bottom{
    margin-left: -75px;
  } 
}  */

/* @media (max-width: 1400px) {
  .navbar-bottom{
    margin-top: 400px;
  }
} */

/* @media (max-width: 1200px) {
  .navbar-bottom{
    margin-left: -135px;
  } 
} */

/* @media (max-width: 600px) {
  .navbar-bottom{
    margin-left: 15px;
  } 
} */