.navbar-bottom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 150px;
  padding: 10px 20px;
  z-index: 1000;
  transition: all 0.3s ease;
}

/* @media (max-width: 1600px) {
  .navbar-bottom{
    margin-left: -75px;
  } 
}

@media (max-width: 1400px) {
  .navbar-bottom{
    margin-left: -105px;
  }
}

@media (max-width: 1200px) {
  .navbar-bottom{
    margin-left: -135px;
  } 
}

@media (max-width: 1000px) {
  .navbar-bottom{
    margin-left: 15px;
  } 
} */